body {
  background-color: rgba(230, 230, 225, 0.562);
  .wrapper {
    .navbar.navbar-expand-lg.bg-light.p-4 {
      .navbar-brand {
        font-size: 50px;
        text-transform: uppercase;
      }
      .collapse.navbar-collapse {
        .navbar-nav.mr-auto {
          .nav-item {
            #updatewin {
              #updatewin_title {
                background-color: aqua;
                color: black;
              }
            }
          }
          .navber-nav {
            #snswin {
              margin-left: 20px;
              #snswin_title {
                background-color: aqua;
                color: black;
              }
            }
          }
        }
      }
    }
    .container {
      margin-top: 20px;
      .card {
        .card-header {
          font-size: 20px;
          font-family: fantasy;
        }
        .card-body {
          text-align: center;
        }
      }
    }
  }
  .container {
    #ratewin {
      margin-top: 20px;
    }
  }
  footer.navbar.navbar-light.bg-light.p-4 {
    margin-top: 60px;
  }
}
